<div *ngFor="let group of jsonData">
  <div>
    <label>
      <input type="checkbox" (change)="toggleGroup(group)" [checked]="isGroupActive(group.groupName)" />
      {{ group.groupName }}
    </label>
  </div>

  <div *ngIf="isGroupActive(group.groupName)">
    <div *ngFor="let template of group.templates">
      <label>
        <input type="checkbox" [checked]="isChecked(template)" (change)="onTemplateChange(template, $event)" />
        {{ template }}
      </label>
    </div>
  </div>
</div>