<div *ngFor="let group of jsonData">
  <div class="group-box" (click)="toggleGroup(group)">
    <input type="checkbox" [checked]="isCheckedGroup(group)" (change)="groupClicked(group, $event)" (mouseover)="disableToggle()" (mouseout)="enableToggle()" /> 
    <label style="display: inline;">
      {{ group.groupName }}
    </label>
  </div>

  <div *ngIf="isGroupActive(group.groupName)">
    <div *ngFor="let template of group.templates">
      <label class="template-box">
        <input type="checkbox" [checked]="isChecked(template)" (change)="onTemplateChange(group,template, $event)" />
        {{ template }}
        <div style="padding-top:5px;" *ngFor="let sheetname of getSheetNamesByModuleName(template)">
          <span style="color:blue;display: inline;">{{sheetname}}</span>
        </div>
      </label>
    </div>
  </div>
</div>

<div class="result"><span *ngFor="let templates of  getTrueTemplates()" class="template-name">{{templates}}</span> are selected.</div>